@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Smoly</h1>

<div class="input-group mb-3">
    <input id="urlfield" type="text" class="form-control" placeholder="Your URL" aria-label="Your URL" style="min-width: 16em;">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" onclick="Shorten()">Shorten</button>
    </div>
</div>

<span class="collapse" id="postcollapse">
    <p>Your shortened link:</p>
    <a id="postresult">ERROR</p>
</span>

@section Scripts {
    <script src="/js/index.js"></script>
}